/* Initial Variables */
$blood-red: #571f1f;
$pdd: 160px;

@import '{}/node_modules/bulma-scss/utilities/initial-variables';

/* Variables */
$modal-card-head-background-color: $black-ter;
$modal-card-title-color: $white;
$modal-card-body-background-color: $black-bis;

@import '{}/node_modules/bulma-scss/bulma';
@import '{}/imports/scss/utilities/mixins';
@import '{}/imports/scss/utilities/spacing';

html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
}
.full-page {
	min-height: 100%;
	flex-grow: 1;
}

.game {
	@include linear-gradient(to bottom, $black-bis 80%, $blood-red 100%);
	min-height: 100%;
	color: $white-bis;
	font-family: 'Raleway', sans-serif;

	.blood {
		color: $blood-red;
	}

	display: grid;
	grid-template-columns: auto 600px auto;
	grid-template-rows: 20px 80px auto 20px;
	grid-template-areas: "nav nav nav"
	". . ."
	". content .";

	.content {
		grid-area: content;
	}

	.navbar {
		grid-area: nav;
	}
}
