/* Variables */
$blood-red: #571f1f;
$pdd: 160px;
@import '{}/node_modules/bulma-scss/bulma';
@import '{}/imports/resources/scss/utilities/mixins';
@import '{}/imports/resources/scss/utilities/spacing';

html {
	height: 100%;
}
body {
	@include linear-gradient(to bottom, $black-bis 80%, $blood-red 100%);
	min-height: 100%;
	color: $white-bis;
	display: flex;
	font-family: 'Raleway', sans-serif;
}
.blood {
	color: $blood-red;
}
