.game {
	@include linear-gradient(to bottom, $black-bis 80%, $blood-red 100%);
	min-height: 100%;
	color: $white-bis;
	font-family: 'Raleway', sans-serif;
	.blood {
		color: $blood-red;
	}
	display: grid;
	grid-template-columns: auto 600px auto;
	grid-template-rows: 80px auto 20px;
	grid-template-areas:
		". . ."
		". content .";
	.content {
		grid-area: content;
	}
}